extends layout.pug

block content
  .container
    .row
      .col.s10.offset-s1
        div(id="opener" data-status=state 
        style="background: #dce5f4; width:240px; border: 1px solid black; margin-top:15px")
          img(src="/garage_geschlossen.png" alt="geschlossen" style="display: none" id="garclosed")
          img(src="/garage_offen.png" alt="offen" style="display: none" id="garopen")
          img(src="/garage_frage.png" alt="offen" style="display: block" id="garquestion")
          img(src="/garage_opening.gif" alt="running" style="display:none" id="garopening")
          img(src="/garage_closing.gif" alt="running" style="display:none" id="garclosing")

        div(id="credentials" style="display:none;")
          input(type="text" id="uname" placeholder="Name")
          input(type="password" id="pwd" placeholder="Passwort")
          button(id="setcred") Senden
