extends layout.pug

block content
  .container
    #opener(data-status=doorState.state)
      img(src="/garage_geschlossen.png" alt="geschlossen" style="display: none" id="garclosed")
      img(src="/garage_offen.png" alt="offen" style="display: none" id="garopen")
      img(src="/garage_frage.png" alt="offen" style="display: block" id="garquestion")
      img(src="/garage_opening.gif" alt="running" style="display:none" id="garopening")
      img(src="/garage_closing.gif" alt="running" style="display:none" id="garclosing")

    #light(data-status=doorState.warner) 
      img(src="/lightbulb_off.png" alt="licht" style="display: block;" id="licht_aus")
      img(src="/lightbulb_on.png" alt="licht" style="display: none;" id="licht_an")


    #credentials(style="display:none;")
      input.choice(type="text" id="uname" placeholder="Name")
      input.choice(type="password" id="pwd" placeholder="Passwort")
      button.choice(id="setcred") Senden
