extends layout.pug

block content
  .container(style="font-size:20pt;")
    .row
      h1.col.s12 Garage

      form.col.s12(method="get" action="/garage")
        .row
          .col.s12
            .input-field.col.s12.m6(style="height:8rem;font-size:20pt")
              i.material-icons.prefix account_circle
              input(type="text" name="username" placeholder="Username" id="uname" style="font-size:20pt;")
            .input-field.col.s12.m6
              i.material-icons.prefix vpn_key
              input(type="password" name="password" placeholder="Passwort" style="font-size:20pt")
            button.btn.waves-effect.waves-light.col.s12(type="submit" name="action") Senden
              i.material-icons.right send

