// Garagentor-Fernbedienung mit Raspberry Pi,
   (c) 2017-2021 by G. Weirich

doctype html
html
  head
    title= "Unsere Garage"
    link(rel="stylesheet" href="/garage.css")
    meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=0" name="viewport")
    link(rel="apple-touch-icon" href="/garage-57x57.png")
    link(rel="manifest" href="/manifest.json")
  body
    .container
      block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/direct.js")
    script(src="/simple.js")
  
