h1{
    color:blue;
}
h3{
    color: lightblue;
}
.container{
    padding: 5px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;

}

img{
    margin-left:auto;
    margin-right:auto;
}

.choice{
    margin:5px;
}

#opener{
    background: #dce5f4; 
    width:240px; 
    border: 1px solid black; 
}

#light{
    background: white; 
    width: 240px; 
}
#credentials{
    background-color: lightcyan;
    border: 1px solid blue;
}